<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>chriswmann.me | home</title>
  <meta name="author" content="Chris W Mann">
  <meta name="description" content="Data science and machine learning portfolio site.">
  <meta name="keywords" content="data science, machine learning">
  </head>
  <body>
    <h1>Welcome</h1>
    <a
     target="_blank"
     rel="noopener noreferrer" 
     href="https://data.gov.uk/dataset/24542ae7-dd44-444f-b259-871c4cc43b5e/environmental-monitoring-data">
     Use this data yo.</a>
  </body>
</html>